%html
  %head
    %title Yet Another Push Chat (experimental)
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/jquery.titlealert.min.js"}
  %body
    %input{:type => 'text', :name => 'text', :id => 'text-field'}
    .messages
      #messages-start
        ='-----------------------------------'
    %script{:src => "http://js.pusherapp.com/1.7/pusher.min.js"}
    %script{:src => "/pusher.js"}
    %script{:type => "text/javascript"}= "initializeChat('text-field','messages-start','#{Yapc::KEY}');"